.user-msg {
    display: none;
    justify-content: center;
    margin: rem(8px) rem(40px);
    color: var(--error-color);

    &.open {
        display: flex;
    }

    .msg {
        font-size: rem(14px);
        font-family: var(--primary-font-bold);
    }
}