//roboto
@font-face {
    font-family: roboto;
    src: url(../../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(../../fonts/roboto/Roboto-Bold.ttf);
}

// pacifico
@font-face {
  font-family: pacifico;
  src: url(../../fonts/pacifico/Pacifico-Regular.ttf);
}
  
